.homepage{
    display: flex;
    flex-direction: row;
}

.left-section{
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid rgb(49, 49, 49);
}

.upper-sidebar{
    display: flex;
    height: 100px;
    align-items: center;
}

.logo-image{
    width: 160px;
    margin-top: 10px;
    object-fit: contain;
}

.mid-sidebar{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    height: 600px;
}

.down-sidebar{
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 10px 15px;
}

.sidebar-button{
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: start;
    background: none;
    border: none;
    height: 50px;
    margin: 2px;
    border-radius: 9px;
    transition: background-color 0.2s;
}

.sidebar-button:hover{
    cursor: pointer;
    background-color: rgb(30, 30, 30);
}

.sidebar-button-icon-small{
    margin-left: 0px;
    width: 50px;
}

.sidebar-button-icon-big{
    margin-left: 0px;
    width: 25px;
    margin-left: 10px;
    margin-right: 15px;
}

.mypfp{
    border-radius: 40px;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
}

.sidebar-button-title{
    color: white;
    font-size: 16px;
}


.mid-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 1px;
    margin-left: 245px;
}

.for-you-and-following-buttons-div{
    display: flex;
    flex-direction: row;
    width: 580px;
    height: 40px;
    margin-top: 30px;
    margin-left: 40px;
    border-bottom: 1px solid rgb(49, 49, 49);

}

.for-you-and-following-buttons-div button{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-left: 0px;
    margin-right: 10px;
}

.stories{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 90px;
    margin-left: 50px;
    margin-top: 20px;
}

.story{
    margin:0 10px;
}

.story-pfp{
    width: 60px;
    height: 57px;
    border-radius: 40px;
    object-fit: cover;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 2px;
    background: linear-gradient(45deg, gold, fuchsia);

}

.story-name{
    color: white;
    margin-top: 0px;
}

.posts{
    width: 500px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.post{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 450px;
    height: 700px;
}

.post-header{
    display: flex;
    flex-direction: row;
    height: 45px;
    padding: 3px;
}

.post-pfp img{
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

.post-info{
    flex: 15;
}

.post-name-and-hour-div{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.post-name{
    font-family: Arial, Roboto;
    font-size: 14px;
    color: white;
    margin-right: 10px;
}

.post-hour{
    font-family: Arial, Roboto;
    font-size: 14px;
    color: rgb(212, 212, 212);
    margin-left: 10px;
}

.post-location p{
    margin: 0;
    margin-left: 10px;
    margin-top: 1px;
    font-size: 11px;
    font-family: Arial, Roboto;
    color: white
}

.three-dots{
    flex: 1;
    font-size: 26px;
    color: white;
}

.post-image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.post-icons{
    display: flex;
    flex-direction: row;
    margin-top: 9px;
}

.post-icons-left-section{
    flex: 9;
    display: flex;
    flex-direction: row;
}

.post-icons-right-section{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}

.post-icon-images{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    object-fit: cover;
}

.post-likes{
    font-family: Arial, Roboto;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 400;
    color: white;
}

.post-likes button{
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.post-comments{
    display: flex;
    flex-direction: column;
    color: rgb(201, 201, 201);
    margin-left: 10px;
    font-family: Arial, Roboto;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    box-sizing: ;
}

.post-comments input{
    margin-top: 3px;
    font-size: 15px;
    background: none;
    border: none;
    color: white;
}

.post-comments input:focus{
    outline: none;
}


.right-section{
    width: 420px;
    background-color: red;
}

@media screen and (max-width: 1260px) {
    .right-section {
      display: none;
    }
  }


