/* xs */
/* @media (min-width: 475px){

}  */

/* sm */
/* @media (min-width: 640px){
    
} */

/* md */
/* @media (min-width: 768px){
    
} */

/* lg */
/* @media (min-width: 1024px){
    
} */

/* xl */
/* @media (min-width: 1280px){
    
} */

/* 2xl */
/* @media (min-width: 1536px){
    
} */

/* .light-mode{
    --clr-light: #070a13;
    --clr-dark: #f1f5f9;
    --clr-slate400: #1e293b;
    --clr-slate600: #1e293b;
    --clr-slate800: #1e293b;
} */


/* .btn{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose);
    color: #f1f5f9;
    padding: 0.5em 1em;
    border-radius: 6px;
    transition: transform 0.3s;
} */

/* .btn:hover{
    transform: translateY(-0.15rem);
} */

.container{
    width: 100%;

}

.section{
    border: 1px solid red;
}

.main{
    height: 1000px;
    display: flex;
    justify-content: center;
}

.feed{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: green;
}




/* xs */
 @media (min-width: 475px){

    .feed{
    }

    .section{
        max-width: 85%;
        margin: 0 auto;
    }
} 

/* sm */
@media (min-width: 640px){
    .feed{
        width: auto;
    }

} 

/* md */
@media (min-width: 768px){
    .main{
        margin-left: 72px;
        width: calc(100% - 72px);
    }

   


    
}

/* lg */
@media (min-width: 1024px){
    .main{
        justify-content: center;
    }
}

/* xl */
@media (min-width: 1280px){

    .main{
        margin-left: 240px;
        width: calc(100% - 240px);
    }

}

/* 2xl */
@media (min-width: 1536px){

}