.right-box{
    width: 300px;
    height: 700px;
    background-color: red;
    display: none;
    margin-left: 20px;
}


/* lg */
@media (min-width: 1024px){
   .right-box{
        display: flex;
   } 
}


/* xl */
@media (min-width: 1280px){
    .right-box{
        margin-left: 80px;
    }    
} 